/*    techonologyContent    */
@import url(https://fonts.googleapis.com/css?family=Merriweather);
.technologyContent {
	float: left;
    clear: both;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 25px;
    background: #fff;
    border: 1px solid #E9E9E9;
    border-radius: 10px;
    margin-bottom: 30px;
    -webkit-box-shadow: 10px 10px 30px -20px rgba(128,114,128,1);
    -moz-box-shadow: 10px 10px 30px -20px rgba(128,114,128,1);
    box-shadow: 10px 10px 30px -20px rgba(128,114,128,1);
}

.contentContainer {
	font-family: "Merriweather", serif;
	letter-spacing: 0.01rem;
	font-size: 1.8rem;
	line-height: 1.75em;
	color: #3A4145;
}

.technologyContent .techContent {
	padding: 10px;
    font-size: 14px;
}

.technologyContent .techTitle {
	font-size: 1.6em;
	font-weight: 700;
	line-height: 1.7em;
}

.technologyContent .techDate {
	font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: #9EABB3;
    display: block;
}